{% extends 'base.html' %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Success Plus</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link active" href="/about">About</a>
              <a class="nav-link" href="/admin">Sign in</a>
            </nav>
          </div>
        </header>
  
        
          <h1 class="cover-heading">Colaboration Software for teams.</h1>
          <p class="lead">For easy collaboration and authentic work environment Successplus can play a major roll for teams of size ~15.</p>
      </div>
{% endblock %}